/* TALL BUTTONS */
.customButton { padding: 70px; }

.ap-custom-label {

    width: 160px;
    padding-top: 6px;
}


div.ap-each-file a {
	
	color: blue !important;
}

h2.ap-pro-front-form-title {
	font-size: 24px !important;
}